
.timeline {
   display: grid;
   gap: 2rem;
}

.timeline-item {
   padding: 1.5rem;
   background: white;
   border-radius: 10px;
   box-shadow: 0 5px 15px rgba(0,0,0,0.1);
   min-height: 100px; /* Altura mínima do box */
   transition: transform 0.3s;
}

.timeline-item:hover {
   transform: translateY(-5px);
   background: var(--gradient); /* Cor de fundo ao passar o mouse (gradiente) */
   color: #fff; /* Muda a cor do texto para branco para melhor contraste */
}  